<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <b>{{ message.users[0] }} </b>
      {{ message.text }}
      <my-comp :message="message.users[0]"></my-comp>
      <my-comp v-bind:message="message.users[1]"></my-comp>
    </div>

    <div id="app2"></div>

    <script src="https://unpkg.com/vue"></script>
    <script>
      var message = {
        text: "Hello Vue!",
        users: ["alice", "bob"],
      };

      var MyComp = Vue.extend({
        props: ["message"],
        template: `<div> {{message}} </div>`,
        // data() {
        //   return {
        //     message: "hello",
        //   };
        // },
      });

      var app = new Vue({
        components: { MyComp },
        el: "#app",
        data: {
          message,
        },
        methods: {
          updateMessage() {
            this.message.text = Date.now();
          },
        },
      });

      var app2 = new Vue({
        el: "#app2",
        // template: `
        //     <b>{{ message.users[0] }} </b>
        //     {{ message.text }}
        // `,
        render(h) {
          //   return <h1>text {this.message.text}</h1>; // JSX / React
          return h("div", { id: "123" }, [
            // h("h1", "text " + this.message),
            h("h1", "text " + this.message.text),
            h("h2", "text " + this.message.users[0]),
          ]);
        },
        data: {
          message: message,
        },
        watch: {
          "message.text": {
            handler() {},
            // deep: true,
          },
        },
        methods: {
          changeSmth() {
            this.message.text = "123";
          },
        },
      });
    </script>
  </body>
</html>
