<template>
  <div @keyup.esc="selectedId = ''">
    <h3>Playlists</h3>

    <div class="row">
      <div class="col">
        <PlaylistList
          :playlists="playlists"
          :selectedId="selectedId"
          @delete="deletePlaylist($event)"
          @select="selectPlaylist($event)"
        />
      </div>
      <div class="col">
        <template v-if="selected && mode === 'details'">
          <PlaylistDetails :playlist="selected" @edit="edit()" />
        </template>
        <template v-if="selected && mode === 'edit'">
          <PlaylistEditForm
            :playlist="selected"
            @cancel="cancel"
            @save="savePlaylist"
          />
        </template>
        <p class="alert alert-info" v-if="!selected">Please select playlist</p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import PlaylistDetails from "@/components/playlists/PlaylistDetails.vue";
import PlaylistEditForm from "@/components/playlists/PlaylistEditForm.vue";
import PlaylistList from "@/components/playlists/PlaylistList.vue";
import { Component, Vue, Watch } from "vue-property-decorator";
import { Playlist } from "../../core/model/Playlist";

const playlistsMock: Playlist[] = [
  {
    id: "123",
    type: "playlist",
    name: "Playlist 123",
    public: true,
    description: "some desc",
  },
  {
    id: "234",
    type: "playlist",
    name: "Playlist 234",
    public: false,
    description: "some desc",
  },
  {
    id: "345",
    type: "playlist",
    name: "Playlist 345",
    public: true,
    description: "some desc",
  },
];

import { mapGetters, mapState, mapMutations, mapActions } from "vuex";
import { playlistsModule} from '../../store/playlists'

@Component({
  components: {
    PlaylistList,
    PlaylistDetails,
    PlaylistEditForm,
  },
  // computed: {
  //   ...mapState("playlists", ["items"]),
  // },
})
export default class PlaylistsView extends Vue {
  mode: "details" | "edit" = "details";

  // playlists: Playlist[] = playlistsMock;

  selectedId = "";

  get playlists() {
    return playlistsModule.playlists;
  }

  mounted() {
    // this.$store.getters
    
    playlistsModule.loadUser()
  }

  get selected() {
    return this.playlists.find((p) => p.id === this.selectedId);
  }

  selectPlaylist(id: Playlist["id"]) {
    this.selectedId = id;
  }

  savePlaylist(draft: Playlist) {
    // this.playlists = this.playlists.map((p) => (p.id == draft.id ? draft : p));
    this.mode = "details";
  }

  deletePlaylist(id: Playlist["id"]) {
    // this.playlists = this.playlists.filter((p) => p.id !== id);
  }

  edit() {
    this.mode = "edit";
  }

  cancel() {
    this.mode = "details";
  }
}
</script>

<style scoped></style>
