<template>
  <div>
    <div class="row mb-3">
      <div class="col"><SearchForm :query="query" @search="search" /></div>
    </div>
    <div class="row">
      <div class="col">
        <p class="alert alert-danger" v-if="message">{{ message }}</p>

        <SearchResults :results="results" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import SearchForm from "@/components/forms/SearchForm.vue";
import SearchResults from "@/components/search/SearchResults.vue";
import { Component, Vue } from "vue-property-decorator";

import { Album, SimpleAlbum } from "@/core/model/Search";

const albumsMock: SimpleAlbum[] = [
  {
    id: "123",
    name: "Album 123",
    type: "album",
    images: [{ url: "http://placekitten.com/300/300" }],
  },
  {
    id: "234",
    name: "Album 234",
    type: "album",
    images: [{ url: "http://placekitten.com/200/200" }],
  },
  {
    id: "345",
    name: "Album 345",
    type: "album",
    images: [{ url: "http://placekitten.com/500/500" }],
  },
  {
    id: "456",
    name: "Album 456",
    type: "album",
    images: [{ url: "http://placekitten.com/300/300" }],
  },
];

import { fetchSearchResults } from "@/core/services/SearchAPI";

@Component({
  components: {
    SearchForm,
    SearchResults,
  },
})
export default class SearchView extends Vue {
  query = "";
  message = "";
  results: Album[] = [];

  async search(query: string) {
    try {
      this.results = await fetchSearchResults(query);
    } catch (error) {
      this.message = error.message;
    }
  }
}
</script>

<style scoped></style>
