<template>
  <div id="app">
    <!-- .container>.row>.col -->
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Hello Vue</h1>
          <router-view />
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss"></style>

<script lang="ts">
import Vue from "vue";
// import HelloWorld from "./components/HelloWorld.vue";
import PlaylistsView from "./views/playlists/Playlists.vue";
import { initAuth } from "@/core/services/Auth";
// Vue.component('HelloWorld', HelloWorld)
// Vue.component('HelloWorld', () => Promise.resolve(HelloWorld) )
Vue.component(
  "HelloWorld",
  () =>
    import(/* webpackChunkName: "helloworld" */ "./components/HelloWorld.vue")
);

import "bootstrap/dist/css/bootstrap.css";

export default Vue.extend({
  components: {
    // HelloWorld,
    // PlaylistsView:PlaylistsView,
    // Pancakes: PlaylistsView,
    // ...UIComponents,
    PlaylistsView,
  },
  created() {
    initAuth();
  },
});
</script>
