<template>
  <div>
    <!-- dl>(dt{Name:}+dd)*3 -->

    <dl v-bind:title="playlist.name" :data-playlist-id="playlist.id">
      <dt>Name:</dt>
      <dd :style="{ fontSize: '22px' }">{{ playlist.name }}</dd>

      <dt>Public:</dt>
      <dd
        :class="{
          [$style.playlistPublic]: playlist.public,
          [$style.playlistPrivate]: !playlist.public,
        }"
      >
        {{ playlist.public | yesno }}
      </dd>

      <dt>Description:</dt>
      <dd>{{ playlist.description }}</dd>
    </dl>
    <!-- <h4>Extras</h4>

    <input type="radio" v-model="picked" value="a" /> A
    <input type="radio" v-model="picked" value="b" /> B <br />
    {{ picked }}

    <br />
    <input type="checkbox" v-model="namesList" value="Jack" /> Jack
    <input type="checkbox" v-model="namesList" value="Jim" /> Jim
    <input type="checkbox" v-model="namesList" value="Johnny" /> Johnny
    {{ namesList }}
    <br />
    <select v-model="picked">
      <option value="a">A</option>
      <option value="b">B</option>
    </select>
    {{ picked }}
    <br />
    <HelloWorld /> -->

    <button class="btn btn-info" @click="edit($event)">Edit</button>

  </div>
</template>

<script lang="ts">
import { Playlist } from "@/core/model/Playlist";
import Vue, { PropOptions } from "vue";
import { RecordPropsDefinition } from "vue/types/options";

export default Vue.extend({
  data() {
    return {
      namesList: ["Jack"],
      selected: "abc",
      picked: "a",
    };
  },
  props: {
    playlist: {},
  } as RecordPropsDefinition<{ playlist: Playlist }>,
  methods: {
    edit() {
      this.$emit("edit");
    },
  },
  filters: {
    yesno(value: boolean) {
      return value ? "Yes" : "No";
    },
  },
  // watch: {
  //   "playlist.name"() {
  //     this.playlist.name
  //   },
  // },
  mounted() {
    this.playlist; // Playlist
  },
});
</script>

<style module>
.playlistPublic {
  color: green;
}
.playlistPrivate {
  color: red;
}
</style>
