<template>
  <form action="/" @submit.prevent="save">
    <pre>{{ playlist }}</pre>
    <pre>{{ draft }}</pre>

    <div class="form-group mb-3">
      <label for="PlaylistEditForm__name">Name:</label>
      <input
        type="text"
        v-model="draft.name"
        class="form-control"
        name="PlaylistEditForm__name"
        id="PlaylistEditForm__name"
        ref="nameInputRef"
        aria-describedby="helpId"
        placeholder="Name"
      />

      <small id="helpId" class="form-text text-muted">
        {{ draft.name.length }} / 120
      </small>
    </div>

    <div class="form-check mb-3">
      <label class="form-check-label">
        <input
          type="checkbox"
          v-model="draft.public"
          class="form-check-input"
          name="PlaylistEditForm__public"
          id="PlaylistEditForm__public"
        />
        Public
      </label>
    </div>

    <div class="form-group mb-3">
      <label for="PlaylistEditForm__description">Description</label>
      <textarea
        v-model="draft.description"
        class="form-control"
        name="PlaylistEditForm__description"
        id="PlaylistEditForm__description"
      ></textarea>
    </div>
    <button class="btn btn-danger" type="button" @click="cancel">Cancel</button>
    <button class="btn btn-success" type="submit">Save</button>
  </form>
</template>

<script lang="ts">
import { Playlist } from "@/core/model/Playlist";
import { Component, Emit, Prop, Ref, Vue } from "vue-property-decorator";

@Component({
  // beforeUpdate(){}
})
export default class PlaylistEditForm extends Vue {
  @Prop({ required: true })
  playlist!: Playlist;

  // draft: Playlist | null = null
  // draft = this.playlist
  draft = {
    ...this.playlist,
    /* , tracks: [...this.playlist.tracks] */
  };

  cancel() {
    this.$emit("cancel");
  }

  @Emit("save")
  save() {
    // this.$emit('save',this.draft)
    return this.draft;
  }

  @Ref('nameInputRef')
  nameInputRef?: HTMLInputElement

  mounted() {
    // document.getElementById('PlaylistEditForm__name')
    // this.$refs['nameInputRef'] as HTMLInputElement

    this.nameInputRef?.focus()
  }

  beforeUpdate() {
    if (this.playlist.id !== this.draft.id) {
      this.draft = {
        ...this.playlist,
      };
    }
  }
}
</script>

<style scoped></style>
