<template>
  <div>
    <div class="list-group">
      <button
        type="button"
        class="list-group-item list-group-item-action"
        :class="{ active: selectedId === playlist.id }"
        v-for="(playlist, index) in playlists"
        :key="playlist.id"
        @keydown.enter="select(playlist.id)"
        @click="select(playlist.id)"
      >
        <span> {{ index + 1 }}. {{ playlist.name }}</span>

        <span class="close float-end" @click.stop="$emit('delete', playlist.id)"
          >&times;</span
        >
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Emit, Prop, Vue } from "vue-property-decorator";
import { Playlist } from "@/core/model/Playlist";

@Component({})
export default class PlaylistList extends Vue {
  @Prop({ required: true })
  playlists!: Playlist[];

  @Prop()
  selectedId?: string;

  @Emit("select")
  select(id: string) {
    return id;
    // this.$emit("select", id);
  }
}
</script>

<style scoped></style>
