<template>
  <div>
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        name="Search"
        id="Search"
        v-model="draftQuery"
        placeholder="Search"
        aria-label="Search"
        @keyup.enter="search"
      />
      <button class="btn btn-secondary" type="button"
       aria-label="Search" @click="search">
        Search
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Emit, Prop, Vue } from "vue-property-decorator";

@Component
export default class SearchForm extends Vue {
  @Prop()
  query!: string

  draftQuery = this.query

  @Emit("search")
  search() {
    return this.draftQuery
  }
}
</script>

<style scoped></style>
