<template>
  <div>
    <div class="row row-cols-1 row-cols-md-4 g-0">
      <div class="col" v-for="result in results" :key="result.id">
        <AlbumCard :album="result" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Album } from "@/core/model/Search";
import { Component, Prop, Vue } from "vue-property-decorator";
import AlbumCard from "../albums/AlbumCard.vue";

@Component({
  components: {
    AlbumCard,
  },
})
export default class SearchResults extends Vue {
  @Prop({ required: true }) results!: Album[];
}
</script>

<style scoped></style>
